html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

.header--primary {
  font-size: 4rem;
  font-weight: bold;
  line-height: 130%;
}

.highlighted {
  font-size: 2rem;
  font-weight: 500;
}

.colored {
  color: #00d9d0;
}

.navbar {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
  max-width: 190rem;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 8rem;
  font-size: 1.8rem;
  list-style: none;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.btn {
  padding: 2rem 3rem;
  font-size: 1.8rem;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
}
.btn--primary {
  position: relative;
  background: linear-gradient(to right, #0f77ea, #00d9d0);
  color: #fff;
  font-weight: 500;
  overflow: hidden;
  z-index: 1;
}
.btn--primary:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0f77ea;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  z-index: -1;
}
.btn--primary:hover:before {
  opacity: 1;
}

.divider {
  background-color: #021327;
  height: 18.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divider__wrapper {
  height: 100%;
  width: 90%;
  max-width: 190rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-container {
  width: 100%;
  max-width: 190rem;
}
.service-container h3 {
  font-size: 3.2rem;
  font-weight: 400;
}
.service-container--1 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4rem;
}
.service-container--1 img {
  width: 9rem;
}
.service-container--2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.service-container--2 img {
  width: 8rem;
}
.service-container--3 {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4rem;
}
.service-container--3 img {
  width: 8rem;
}

.radius {
  border-radius: 10px;
  position: relative;
  width: 100%;
}

.gradient-border-bg {
  border: 5px solid;
  border-radius: 10px;
  border-image: linear-gradient(to bottom, #00D9D0, #0081FF) 1;
  padding: 12rem 3rem 0 3rem;
  background: rgba(0, 129, 255, 0.11);
  height: 35rem;
  width: 100%;
  text-align: center;
}
.gradient-border-bg h2 {
  font-size: 3.2rem;
}
.gradient-border-bg img {
  width: 12rem;
  top: -7rem;
  left: 50%;
  position: absolute;
  margin: 1rem 0 3rem 0;
  transform: translateX(-50%);
}

.hero {
  height: 100vh;
  background-image: url(../img/hero-background.png);
  background-size: cover;
  position: relative;
  z-index: 22;
}
.hero__container {
  max-width: 190rem;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 14, 29, 0.85);
  z-index: -1;
}
.hero__left {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  gap: 5rem;
  justify-content: center;
  height: 60vh;
}
.hero__left button {
  width: 200px;
}
.hero__left h3 {
  font-size: 3.2rem;
  background: linear-gradient(90deg, #0f77ea 0%, #00d9d0 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.hero__left h1 {
  font-size: 6.4rem;
  display: inline-block;
  max-width: 70rem;
  line-height: 108%;
}
.hero__left p {
  font-size: 2.4rem;
  line-height: 172%;
  max-width: 70rem;
}
.hero__right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__right img {
  height: 65vh;
  margin-top: 5rem;
}

.section__main .message {
  width: 80rem;
  display: block;
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
  padding: 10rem 0;
}
.section__main .message--colored {
  color: #00d9d0;
  font-size: 2rem;
}
.section__main .card__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 190rem;
  width: 90%;
  margin: 0 auto;
  padding: 0 10rem;
}

.about {
  max-width: 190rem;
  width: 90%;
  margin: 10rem auto;
  display: flex;
  align-items: space-between;
  justify-content: center;
}
.about__text-container {
  padding-top: 7rem;
  margin-left: -15rem;
  width: 100%;
}
.about__text-container h2 {
  width: 80%;
  max-width: 60rem;
  margin-bottom: 2rem;
}
.about__text-container p {
  margin-bottom: 3rem;
  width: 70rem;
  max-width: 90%;
  line-height: 174%;
}

.illustration--laptop {
  opacity: 70%;
}

.try-it {
  background-color: #021327;
}
.try-it__container {
  max-width: 190rem;
  width: 90%;
  margin: 0 auto;
  height: 62rem;
  padding: 0 20rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
}
.try-it__illustration-container img {
  margin-bottom: -10rem;
  height: 100%;
}
.try-it__text-container h2 {
  margin-bottom: 4rem;
}
.try-it__text-container p {
  margin-bottom: 4rem;
}

.api {
  max-width: 190rem;
  width: 90%;
  margin: 10rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.api__text-container {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 2rem;
  flex-direction: column;
  width: 80rem;
  padding-right: 20rem;
}
.api__illustration-container img {
  width: 80rem;
}
.api h2 {
  margin-bottom: 3rem;
}
.api p {
  margin-bottom: 3rem;
}

.github-banner {
  max-width: 190rem;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  height: 25rem;
  background-image: linear-gradient(to right, #0f77ea, #00d9d0);
  border-radius: 1rem;
}
.github-banner h2 {
  width: 50%;
}
.github-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  color: #000;
}
.github-buttons .github-star {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2.5rem 5rem;
  background-color: #fff;
  border-radius: 1rem;
  font-size: 2rem;
}
.github-buttons .github-numbers {
  padding: 2.5rem 3.5rem;
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  font-size: 2rem;
}
.github-buttons .github-numbers .github-polygon {
  position: absolute;
  height: 3rem;
  top: 50%;
  transform: translateY(-50%);
  left: -15%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.7;
  font-size: 1.8rem;
  color: #fff;
  position: relative;
  background-color: #020E1D;
}/*# sourceMappingURL=main.css.map */