@mixin flexbox($placeContent, $placeItems,$gap: null, $direction: null){
display: flex;
align-items: $placeItems;
justify-content: $placeContent;

@if $gap != null{
    gap: $gap
}

@if $direction != null{
    direction: $direction;
}

}